/* main { */
/*   min-height: 100vh; */
/*   margin: 0; */
/*   padding: 20px; /\* Adds padding for visual comfort *\/ */
/*   background-color: #f0f0f0; /\* Just for better visibility *\/ */
/* } */

/* navbar styling */
.navbar {
  background-color: #FFCC00; /* Light grey background, you can change it to match Pokémon theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Adds a subtle shadow for depth */
}

.navbar-brand {
  display: flex; /* Aligns the logo and text horizontally */
  align-items: center; /* Aligns the logo and text vertically */
  gap: 12px; /* Adds space between text and image */
  font-family: 'Pokemon solid', sans-serif; /* Pokémon font for the logo */
  font-weight: bolder;
}

.navbar-brand:hover {
  color: #dd3e3e; /* Pokémon red color on hover */
  text-decoration: none; /* Removes underline on hover */
  transform: scale(1.2); /* Slightly enlarges text on hover */
}

.navbar img {
  height: auto;
  transition: transform 0.2s ease; /* Smooth transition for hover effect */
}

.navbar img:hover {
  transform: scale(1.25); /* Slightly enlarges icons on hover */
}

@media (max-width: 768px) {
  /* styles for mobile screens if thats something were to do */
  .navbar {
    padding: 10px;
  }
  .navbar-brand {
    margin: 5px 0;
    flex-direction: column; /* stacks icon and text on smaller screens */
    align-items: center;
  }
}

/* search bar styling */
.search-section {
  text-align:center;
  padding:1rem;
  background: rgba(0, 0, 0, 0.05);
}

.search-header {
  font-family: 'Pokemon solid';
  font-size: 2rem;
  color: #FFCC00;
}

.search-bar {
  width: 100%;
  max-width: 40rem;
  margin-top: 1rem;
  margin: 0 auto; /* centers the search bar */
  position: relative;
  display: inline-block;
}

#search_input_field {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 25rem; /* change this to fit the length of the placeholder message */
  font:italic 1rem Arial, sans-serif;
  margin: 0 auto;
}

#search_button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #FFCC00;
  color: black;
  margin-left: -3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Pokemon hollow' , sans-serif;
}

#search_button:hover {
  background-color: #dd3e3e; /* hovering over the button is responsive and changes red */
}

/* this changes the searched card to not be hyperlink blue */
.card-link {
  text-decoration: none;  /* Removes the underline */
  color: inherit;         /* Inherits the text color from the parent elements */
}
.card-link:hover {
  cursor: pointer;        /* Changes the cursor to indicate the link is clickable */
}

/* background styling happens here
body {
  background-image:url('/images/background.jpeg');
  background-size: cover;
  background-color: #f4f4f4;
} */

/* all or at least most?? css for displaying cards is below */

#pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#pokemon-container:hover {
  transform: scale(1.00);
  transition: transform 0.2s ease;
}

#item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#item-container:hover {
  transform: scale(1.00);
  transition: transform 0.2s ease;
}


#default-cards {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}

/* if we want the card to hover */
/* .pokemon-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.pokemon-card table tr:first-child td:first-child {
  background-color: #86ebd5; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.pokemon-card {
  width: 200px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 2px 2px;
}

.pokemon-card .card-text.type {
  border: none;
  font-style: italic;
  font-size: 12px;
}

.pokemon-card .more-info{
  list-style: none;
}


.pokemon-card .card-title {
  margin-bottom: 0; 
  font-size: 1.0rem;
  color: #00050cec;
  text-align: center;
}

.pokemon-card .list-group-item.stats {
  margin-bottom: 0;
  font-size: 10px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  text-align: center;
}

.pokemon-card .card-body{
  background-size: cover;
  color: #000000;
  text-align: center;
}

/* const colours = {
	normal: '#A8A77A',
	fire: '#EE8130',
	water: '#6390F0',
	electric: '#F7D02C',
	grass: '#7AC74C',
	ice: '#96D9D6',
	fighting: '#C22E28',
	poison: '#A33EA1',
	ground: '#E2BF65',
	flying: '#A98FF3',
	psychic: '#F95587',
	bug: '#A6B91A',
	rock: '#B6A136',
	ghost: '#735797',
	dragon: '#6F35FC',
	dark: '#705746',
	steel: '#B7B7CE',
	fairy: '#D685AD',
}; */

.types-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-icon {
  width: 25px;  /* Adjust size as necessary */
  height: auto;
  margin: 2px;  /* Adds a small space between icons */
}

.type-fire { background-color: #F08030; }
.type-water { background-color: #6890F0; }
.type-electric { background-color: #F8D030; }
.type-grass { background-color: #78C850; }
.type-ice { background-color: #98D8D8; }
.type-fighting { background-color: #C03028; }
.type-poison { background-color: #A040A0; }
.type-ground { background-color: #E0C068; }
.type-flying { background-color: #A890F0; }
.type-psychic { background-color: #F85888; }
.type-bug { background-color: #A8B820; }
.type-rock { background-color: #B8A038; }
.type-ghost { background-color: #705898; }
.type-dragon { background-color: #7038F8; }
.type-dark { background-color: #705848; }
.type-steel { background-color: #B8B8D0; }
.type-fairy { background-color: #EE99AC; }
.type-normal { background-color: #A8A878; }

.pokemon-card.normal {
  background-color: #A8A77A;
}

.pokemon-card.fire {
  background-color: #EE8130;
}

.pokemon-card.water {
  background-color: #6390F0;
}

.pokemon-card.electric {
  background-color: #F7D02C;
}

.pokemon-card.grass {
  background-color: #7AC74C;
} */

.pokemon-card.ice {
  background-color: #96D9D6;
}

.pokemon-card.fighting {
  background-color: #C22E28;
}

.pokemon-card.poison {
  background-color: #A33EA1;
}

.pokemon-card.ground {
  background-color: #E2BF65;
}

.pokemon-card.flying {
  background-color: #A98FF3;
}

.pokemon-card.psychic {
  background-color: #F95587;
}

.pokemon-card.bug {
  background-color: #A6B91A;
}

.pokemon-card.rock {
  background-color: #B6A136;
}

.pokemon-card.ghost {
  background-color: #735797;
}

.pokemon-card.dragon {
  background-color: #6F35FC;
}

.pokemon-card.dark {
  background-color: #705746;
}

.pokemon-card.steel {
  background-color: #B7B7CE;
}

.pokemon-card.fairy {
  background-color: #D685AD;
}

/* type combos */
/* .pokemon-card.fire-fighting {
  background-color: #C22E28 + #EE8130;
} */

