<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="/images/pokeball.png" alt="Logo" style="height: 40px;">
        <a class="navbar-brand" href="/"> Home <img src = "/images/home.svg" alt = "Home" style = "height: 20px;"> </a>
        <a class="navbar-brand" href="/search"> Search <img src = "/images/search.svg" alt = "Search" style = "height: 20px;">  </a>        
    </div>
</nav>
